# 3.2 IC Grouping and Aggregating Data

## Contents
### Import libraries and data sets
### Create loyalty flag for existing customers
### Spending habits of three types of customers
### Create spending flag
### Create frequency flag
### Handling Outliers
### Export to pickle

## Import libraries and data sets

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# path to project folder
path = r'/Users/susanwang/Documents/CF_Tasks/Instacart Basket Analysis'

In [3]:
# create df of ords_prods_derive
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_derive.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regular days,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regular days,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regular days,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regular days,Average orders

In [5]:
ords_prods_merge.shape

(32404859, 19)

## Create a loyalty flag for existing customers

In [6]:
# create new column max_order for maximum number of orders for each customer
# note: error message upon use of np.max. suggestion to pass the string 'max' instead.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [8]:
# change display options to view all 100 rows 
pd.options.display.max_rows = None

In [9]:
ords_prods_merge[['user_id', 'order_number', 'max_order']].head(100)

    user_id  order_number  max_order
0         1             1         10
1         1             1         10
2         1             1         10
3         1             1         10
4         1             1         10
5         1             2         10
6         1             2         10
7         1             2         10
8         1             2         10
9         1             2         10
10        1             2         10
11        1             3         10
12        1             3         10
13        1             3         10
14        1             3         10
15        1             3         10
16        1             4         10
17        1             4         10
18        1             4         10
19        1             4         10
20        1             4         10
21        1             5         10
22        1             5         10
23        1             5         10
24        1             5         10
25        1             5         10
26        1             5         10
27        1             5         10
28        1             5         10
29        1             6         10
30        1             6         10
31        1             6         10
32        1             6         10
33        1             7         10
34        1             7         10
35        1             7         10
36        1             7         10
37        1             7         10
38        1             8         10
39        1             8         10
40        1             8         10
41        1             8         10
42        1             8         10
43        1             8         10
44        1             9         10
45        1             9         10
46        1             9         10
47        1             9         10
48        1             9         10
49        1             9         10
50        1            10         10
51        1            10         10
52        1            10         10
53        1            10         10
54        1            10         10
55        1            10         10
56        1            10         10
57        1            10         10
58        1            10         10
59        2             1         14
60        2             1         14
61        2             1         14
62        2             1         14
63        2             1         14
64        2             1         14
65        2             1         14
66        2             1         14
67        2             1         14
68        2             1         14
69        2             1         14
70        2             1         14
71        2             1         14
72        2             2         14
73        2             2         14
74        2             2         14
75        2             2         14
76        2             2         14
77        2             2         14
78        2             3         14
79        2             3         14
80        2             3         14
81        2             3         14
82        2             3         14
83        2             4         14
84        2             4         14
85        2             4         14
86        2             4         14
87        2             4         14
88        2             4         14
89        2             4         14
90        2             4         14
91        2             4         14
92        2             4         14
93        2             4         14
94        2             4         14
95        2             4         14
96        2             5         14
97        2             5         14
98        2             5         14
99        2             5         14

In [7]:
# new column with loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [8]:
# check new column frequency
check_loyalty = ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

In [9]:
check_loyalty

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [10]:
# copy to excel report
check_loyalty.to_clipboard()

In [12]:
# view sample (head is always the same user)
ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].sample(10)

          user_id      loyalty_flag  max_order
17829174   112832  Regular customer         21
1019575      6600  Regular customer         14
11680293    73994    Loyal customer         73
5913234     37699  Regular customer         32
28482984   181199  Regular customer         21
16549144   104786    Loyal customer         50
28913461   183873      New customer          6
10092681    64258  Regular customer         39
20035149   127184  Regular customer         34
6719819     42774  Regular customer         34

## Spending habits of the three types of customers

### Basic statistics of the product prices

In [11]:
# groupby types of customers
loyalty_vs_price = ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

In [12]:
loyalty_vs_price

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [14]:
# copy to report
loyalty_vs_price.to_clipboard()

It seems the most loyal customers spend on average less than the new or regular customers.

## Create spending flag based on average price across all their orders

Criteria: If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# aggregate and derive column 'avg_price' using transform
ords_prods_merge['avg_price'] = ords_prods_merge.groupby('user_id')['prices'].transform('mean')

In [16]:
# view and check head
ords_prods_merge[['user_id', 'prices', 'avg_price']].head(100)

    user_id  prices  avg_price
0         1     9.0   6.367797
1         1    12.5   6.367797
2         1     4.4   6.367797
3         1     4.7   6.367797
4         1     1.0   6.367797
5         1     9.0   6.367797
6         1     3.0   6.367797
7         1     4.4   6.367797
8         1    10.3   6.367797
9         1     4.7   6.367797
10        1     4.0   6.367797
11        1     9.0   6.367797
12        1     4.4   6.367797
13        1     3.0   6.367797
14        1     8.6   6.367797
15        1     3.2   6.367797
16        1     9.0   6.367797
17        1     4.4   6.367797
18        1     3.0   6.367797
19        1     8.6   6.367797
20        1     1.0   6.367797
21        1     9.0   6.367797
22        1     4.4   6.367797
23        1     3.0   6.367797
24        1     8.6   6.367797
25        1     2.7   6.367797
26        1    14.0   6.367797
27        1     5.0   6.367797
28        1    10.3   6.367797
29        1     9.0   6.367797
30        1     4.4   6.367797
31        1     3.0   6.367797
32        1     8.6   6.367797
33        1     9.0   6.367797
34        1     3.0   6.367797
35        1     4.4   6.367797
36        1     8.6   6.367797
37        1     4.0   6.367797
38        1     4.4   6.367797
39        1     9.0   6.367797
40        1     3.0   6.367797
41        1     8.6   6.367797
42        1    13.4   6.367797
43        1     1.8   6.367797
44        1     1.8   6.367797
45        1    13.4   6.367797
46        1     8.6   6.367797
47        1     9.0   6.367797
48        1     3.0   6.367797
49        1     4.4   6.367797
50        1     9.0   6.367797
51        1    13.4   6.367797
52        1     6.8   6.367797
53        1    12.6   6.367797
54        1     8.6   6.367797
55        1     3.0   6.367797
56        1     1.3   6.367797
57        1     4.0   6.367797
58        1     4.4   6.367797
59        2     5.2   7.515897
60        2     6.3   7.515897
61        2     2.3   7.515897
62        2    10.9   7.515897
63        2     2.7   7.515897
64        2     4.1   7.515897
65        2     5.0   7.515897
66        2     9.4   7.515897
67        2    14.8   7.515897
68        2     7.5   7.515897
69        2     4.4   7.515897
70        2    10.3   7.515897
71        2     2.5   7.515897
72        2     1.3   7.515897
73        2     2.0   7.515897
74        2     3.5   7.515897
75        2     6.3   7.515897
76        2     3.9   7.515897
77        2     2.0   7.515897
78        2     6.3   7.515897
79        2     5.2   7.515897
80        2     2.3   7.515897
81        2     6.6   7.515897
82        2     6.2   7.515897
83        2     7.1   7.515897
84        2     5.2   7.515897
85        2     7.5   7.515897
86        2     5.8   7.515897
87        2     8.9   7.515897
88        2     9.1   7.515897
89        2     5.5   7.515897
90        2    12.3   7.515897
91        2     4.0   7.515897
92        2    10.8   7.515897
93        2    12.6   7.515897
94        2     2.0   7.515897
95        2     5.9   7.515897
96        2    14.0   7.515897
97        2     2.9   7.515897
98        2     1.6   7.515897
99        2     3.4   7.515897

In [16]:
# create spending flag
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
# check counts
check_spending = ords_prods_merge['spending_flag'].value_counts(dropna=False)

In [18]:
check_spending

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [19]:
# copy to excel report
check_spending.to_clipboard()

In [19]:
# check sample
ords_prods_merge[['user_id', 'avg_price', 'spending_flag']].sample(10)

          user_id  avg_price spending_flag
19592836   124318   7.043750   Low spender
22655107   144000   7.867710   Low spender
24393389   154967   6.953425   Low spender
5646623     35955   7.158209   Low spender
10807727    68542   7.833333   Low spender
5902376     37625   7.574877   Low spender
2331442     14949   6.653354   Low spender
19825260   125811   7.871922   Low spender
1230713      7982   9.062791   Low spender
12040976    76295   7.569883   Low spender

In [20]:
ords_prods_merge.shape

(32404859, 23)

## Create frequency flag for each customer based on days_since_prior_order column

If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [20]:
# create median_days column 
ords_prods_merge['median_days'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform('median')

In [22]:
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days']].head(100)

    user_id  days_since_prior_order  median_days
0         1                     NaN         20.5
1         1                     NaN         20.5
2         1                     NaN         20.5
3         1                     NaN         20.5
4         1                     NaN         20.5
5         1                    15.0         20.5
6         1                    15.0         20.5
7         1                    15.0         20.5
8         1                    15.0         20.5
9         1                    15.0         20.5
10        1                    15.0         20.5
11        1                    21.0         20.5
12        1                    21.0         20.5
13        1                    21.0         20.5
14        1                    21.0         20.5
15        1                    21.0         20.5
16        1                    29.0         20.5
17        1                    29.0         20.5
18        1                    29.0         20.5
19        1                    29.0         20.5
20        1                    29.0         20.5
21        1                    28.0         20.5
22        1                    28.0         20.5
23        1                    28.0         20.5
24        1                    28.0         20.5
25        1                    28.0         20.5
26        1                    28.0         20.5
27        1                    28.0         20.5
28        1                    28.0         20.5
29        1                    19.0         20.5
30        1                    19.0         20.5
31        1                    19.0         20.5
32        1                    19.0         20.5
33        1                    20.0         20.5
34        1                    20.0         20.5
35        1                    20.0         20.5
36        1                    20.0         20.5
37        1                    20.0         20.5
38        1                    14.0         20.5
39        1                    14.0         20.5
40        1                    14.0         20.5
41        1                    14.0         20.5
42        1                    14.0         20.5
43        1                    14.0         20.5
44        1                     0.0         20.5
45        1                     0.0         20.5
46        1                     0.0         20.5
47        1                     0.0         20.5
48        1                     0.0         20.5
49        1                     0.0         20.5
50        1                    30.0         20.5
51        1                    30.0         20.5
52        1                    30.0         20.5
53        1                    30.0         20.5
54        1                    30.0         20.5
55        1                    30.0         20.5
56        1                    30.0         20.5
57        1                    30.0         20.5
58        1                    30.0         20.5
59        2                     NaN         13.0
60        2                     NaN         13.0
61        2                     NaN         13.0
62        2                     NaN         13.0
63        2                     NaN         13.0
64        2                     NaN         13.0
65        2                     NaN         13.0
66        2                     NaN         13.0
67        2                     NaN         13.0
68        2                     NaN         13.0
69        2                     NaN         13.0
70        2                     NaN         13.0
71        2                     NaN         13.0
72        2                    10.0         13.0
73        2                    10.0         13.0
74        2                    10.0         13.0
75        2                    10.0         13.0
76        2                    10.0         13.0
77        2                    10.0         13.0
78        2                     3.0         13.0
79        2                     3.0         13.0
80        2                     3.0         13.0
81        2                     3.0         13.0
82        2                     3.0         13.0
83        2                     8.0         13.0
84        2                     8.0         13.0
85        2                     8.0         13.0
86        2                     8.0         13.0
87        2                     8.0         13.0
88        2                     8.0         13.0
89        2                     8.0         13.0
90        2                     8.0         13.0
91        2                     8.0         13.0
92        2                     8.0         13.0
93        2                     8.0         13.0
94        2                     8.0         13.0
95        2                     8.0         13.0
96        2                     8.0         13.0
97        2                     8.0         13.0
98        2                     8.0         13.0
99        2                     8.0         13.0

In [21]:
# create frequency_flag
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [22]:
# check value counts
freq_counts = ords_prods_merge['frequency_flag'].value_counts(dropna=False)

In [23]:
freq_counts

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [24]:
# check NaN
ords_prods_merge[ords_prods_merge['frequency_flag'].isnull()]

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days,frequency_flag
25156870,895835,159838,1,0,17,NaN,True,22198,1,0,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156871,895835,159838,1,0,17,NaN,True,23695,2,0,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156872,895835,159838,1,0,17,NaN,True,10749,3,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156873,895835,159838,1,0,17,NaN,True,21334,5,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25156874,895835,159838,1,0,17,NaN,True,33401,6,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,NaN

The NaN results are due to the 5 customers who didn't make more than 1 order.

In [25]:
# copy frequency table to excel report
freq_counts.to_clipboard()

In [24]:
# check sample
ords_prods_merge[['user_id', 'median_days', 'frequency_flag']].sample(10)

          user_id  median_days         frequency_flag
4310778     27422          7.0      Frequent customer
6015985     38353          4.0      Frequent customer
28797243   183124         24.0  Non-frequent customer
5007909     31903          9.0      Frequent customer
17744096   112295          4.0      Frequent customer
7394938     46943          3.0      Frequent customer
14886569    94373          6.0      Frequent customer
27376521   174163          5.0      Frequent customer
23274038   147887         30.0  Non-frequent customer
25774052   163799         30.0  Non-frequent customer

## Handling Outliers (from Exercise 4.9)

In [26]:
# check prices max
ords_prods_merge['prices'].max()

99999.0

In [27]:
# turn outliers into nan
ords_prods_merge.loc[ords_prods_merge['prices'] > 100, 'prices'] = np.nan

In [28]:
# check max again
ords_prods_merge['prices'].max()

25.0

## Export to pickle

In [29]:
# check shape
ords_prods_merge.shape

(32404859, 25)

In [30]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_agg.pkl'))